:root {
    --darkGrayBlue: hsl(217, 19%, 35%);
    --darkBlue: hsl(214, 17%, 51%);
    --grayBlue: hsl(212, 23%, 69%);
    --lightGrayBlue: #ecf2f8;
}

* {
    border: none;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Manrope;
    src: url('/assets/fonts/static/Manrope-Regular.ttf');
}

body {
    background-color: var(--lightGrayBlue);
    font-family: Manrope;
    /* font-size: 13px; */
}
.container {
    padding: 70px 20px;

}
img#drawer {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    top: 3.5px;
}

.description {
    padding: 35px 35px 0px 35px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 20px -12px var(--darkGrayBlue);
}

h4#title {
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: var(--darkGrayBlue);
    margin-bottom: 12px;
}
p#cta {
    font-size: 0.85em;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--darkBlue)
}
.foot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.foot img#michelle {
    height: 40px;
    width: 40px;
    border-radius: 30px;
}
.info {
    font-size: 13px;
    margin-left: 20px;
}
.info h4 {
    color: var(--darkGrayBlue);
    letter-spacing: 1.1px;
}
p#date {
    margin-top: 3px;
    color: var(--grayBlue);
}
img#share {
    background-color: var(--lightGrayBlue);
    padding: 8px;
    border-radius: 30px;
    margin-left: auto;
    transition-duration: 0.4s;
}
img#share:hover {
    transform: scale(80%, 100%) translate(3px, -5px) rotateZ(-45deg);
}
.foot_replace {
    background-color: var(--darkGrayBlue);
    margin: 0px -35px 0px -35px;
    height: 70px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 35px;
    font-size: 13px;
}
img#share2 {
    background-color: var(--darkBlue);
    padding: 8px;
    width: 15px;
    border-radius: 30px;
    margin-left: auto;
}
.footShare {
    color: var(--lightGrayBlue);
    letter-spacing: 6px;
    font-size: 0.9em;
}
img#facebook {
    margin-left: 22px;
}
.foot_replace img {
    width: 100%;
    max-width: 5%;
    margin-left: 15px;
    transition-duration: 0.2s;
}
.foot_replace img:hover {
    transform: scale(80%, 80%) translateY(3px);
}

/* Pseudo Tablet Styles */
@media screen and (min-width: 550px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
    }
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
    .container {
        padding-top: 150px;
        max-width: 1000px;
        display: flex;
    }
    img#drawer {
        position: relative;
        top: 0px;
        border-radius: 10px 0px 0px 10px;
        height: 330px;
        max-width: 50%;
    }
    h4#title {
        font-size: 1.1em;
        word-spacing: 2px;
        letter-spacing: 1px;
    }
    p#cta {
        font-size: 0.8em;
    }
    .foot_replace3 {
        padding: 15px 30px;
        background-color: var(--darkGrayBlue);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        width: 180px;
        position: relative;
        bottom: 120px;
        left: 365px;
        box-shadow: 1px 1px 25px -3px var(--darkGrayBlue);
    }
    p#foot3share {
        font-size: 0.7em;
    }
    div#arrow {
        position: absolute;
        top: 41px;
        right: 28px;
    }
}